.carousel {
  width: 900px;
  border: 1px solid #041e42;
  box-shadow: 6px 6px 5px grey;
  margin: 40px;
  border-radius: 4px;
}

.carouselitem {
  height: 600px;
  object-fit: cover;
  border-radius: 4px;
}
