.thumbnails {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.propertyViewer {
  border: 1px solid #041e42;
  border-radius: 5px;
  box-shadow: 7px 7px 5px gray;
  margin: 35px;
  width: 1200px;
}

.propertyCardInfo {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.thumbnailContainer {
  overflow-y: scroll;
  height: 500px;
}
